.com-div h1{
    font-size: 70px;
    color: #FDA32B;
    text-align: center;
    padding: 50px;
}
.com-div p{
    text-align: center;
    color: white;
}
#btn-comm{
    background: #171822;
    color: white;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 20px;
    border: 1px solid #FDA32B ;
    outline: none;
    border-radius: 15px;
    word-spacing: 3px;
    letter-spacing: 1px;
    margin-right: 20px;
}
.comm-container{
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}
@media (max-width:360px){
    .com-div h1{
        font-size: 26px;
    }
    .com-div p{
        font-size: 12px;
        text-align: center;
        padding: 10px 15px;
    }
    .comm-container{

        padding-top: 25px;
        flex-direction: column;
    
    }
    #btn-comm{
    
        margin: 10px;
    }
}
@media (max-width:576px){
    .com-div h1{
        font-size: 47px;
    }
    .com-div p{
        font-size: 17px;
        text-align: center;
        padding: 10px 15px;
    }
    .comm-container{
    padding: 10px;
    }
    #btn-comm{
    margin: 5px;
        
    }
}
@media (max-width:992px){
    .comm-container{
        padding-top: 50px;
    }
}