.wallet{
    border-radius: 15px;
    border: 5px solid white;
    width: 80%;
    margin: auto;
}
.wallet-div h1{
    font-size: 70px;
    color: #FDA32B;
    text-align: center;
    margin-right: 50px;
}
#wallet-img{
    width: 70px;
    height: 70px;
    margin-right: 50px;
}
.wallet-div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 30px;
}
.wallet-paragraph{
    color: white;
    padding: 10px;
}
#wallet-mobile{
    width: 300px;
    height: 230px;
}
.w-img{
    text-align: center;
}
@media(max-width:360px){
    .wallet-div h1{
        font-size: 26px;
    }
    #wallet-img{
        width: 30px;
        height: 30px;
        margin-left: -34px;
    }
    .wallet-paragraph{
        font-size: 12px;
    }
    #wallet-mobile{
        height: 130px;
        width: 130px;
    }
}
@media (max-width:576px){
    .wallet-div h1{
        font-size: 47px;
    }
    #wallet-img{
        margin-right: 29px;
        margin-left: -29px;
    }
    .wallet-paragraph{
        font-size: 17px;
        margin: 10px;
    }
}
@media(max-width:767px){
    .wallet-div h1{
      margin: 10px;
      font-size: 66px;
    }
}