.ticket-div{
    background:#171822 ;
    border: 5px solid white;
    border-radius: 20px;
    width: 80%;
    margin: auto;
}
#ticket-img{
    width: 70px;
    height: 70px;
    margin-left: 10px;
}
#tikt h1{
    color: #FDA32B;
    font-size: 70px;
    margin-left: 30px;
}
#plane-id{
    width: 200px;
    height: 180px;
    padding-top: 50px;
    margin-left: 20px;
}
#tikt{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.ticket-para{
    color: white;
}
.ticket-para{
    line-height: 1.5;
    padding: 10px;
}
@media (max-width:360px){
    #tikt h1{
        font-size: 26px; 
    }
    .ticket-div{
        padding: 25px 10px;
    }
    #ticket-img{
        width: 30px;
        height: 30px;
    }
    #plane-id{
        margin-left: 30px;
    }
    .ticket-para{
        font-size: 12px;
        text-align: justify;
    }
}
@media  (min-width:361px) and (max-width:576px){
    #tikt h1{
        font-size: 47px; 
    }
    .ticket-div{
        padding: 15px 10px;
    }
    #ticket-img{
        
    }
    #plane-id{
        margin-left: 107px;
        margin-bottom: 20px;
    }
   
}
@media  (min-width:577px) and (max-width:767px){
    #plane-id{
        margin-left: 166px;
        width: 235px;
        height: 235px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #tikt h1{
        font-size: 66px;
    }
    .ticket-div{
        padding: 25px 10px;
        border: solid black;
    }
      
}
@media (min-width:768px) and (max-width:992px){
    .ticket-div{
        padding: 20px;
    }
    #plane-id{
        margin-left: 217px;
    }
}