.home-btn{
    padding: 10px 20px;
    background: #FDA32B;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 30px;
}
.home-btn a {
    text-decoration: none;
 font-size: 15px;
 color: black;
 font-weight: 700;
 opacity: 0.9;
}
.home-btn:hover a {
    text-decoration: underline;
}
.main-div{
    background: #171822;
    
}
.home-main-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: transparent;

}
.home-hddr-div h1{
color: white;
font-size: 26px;
margin-top: 10px;
line-height: 1.5;
font-weight: 700;
}
.home-hddr-div{
    width: 500px;
    height: 600px;
}
#img-div{
    width: 490px;
    height: 530px;
}
.innner-div-one{
    background:#171822 ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;

}
.inner-div{
    background:#171822 ;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    border: 5px solid white;
    padding: 20px;
}
.innner-div-one img{
    width: 70px;
    height: 70px;
}
#label2{
    font-size: 75px;
    font-weight: bolder;
    color: #FDA32B;
    margin-left: 20px;
    font-weight: 700;
}
#label1{
    font-size: 75px;
    font-weight: bolder;
    color: #FDA32B;
    margin-left: 20px;
    font-weight: 700;
}
#para-span{
    font-weight: bold;
    color: #FDA32B;
}
.inner-div-two p{
    color: white;
    font-size: 15px;
}
#para-two{
    margin-top: 20px;
}
.uni-main{
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-evenly;
}
.unicorn{
    width: 300px;
    text-align: center;
    padding: 10px;
}
#uni-img{
    width:80px;
    height:80px;
    margin: 10px;
}
#paragraph-div{
    padding: 20px 0px;
}
#paragraph-div p{
    margin: 10px 0px;
    font-size: 15px;
}
#color-span-div{
    font-weight: bold;
    color: #FDA32B;
}
#rocket-img{
    width: 200px;
    height: 300px;
}
.par-img-divi{
    width: 50%;
    text-align: center;
    
}
#span-button{
    margin-left: 80px;
}
.how-to-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.par-divi{
    width: 50%;
}
.p1{
    color: white;
    line-height: 1.5;
}
#p-btn{
    background: #FDA32B;
    font-weight: bold;
    padding: 10px 20px;
    border:transparent;
    outline: none;
    border-radius: 15px;
    margin-top: 30px;
    margin-right: 30px;
}
#p-btn a{
    color: white;
    text-decoration: none;
}
@media(max-width:360px){
    .home-hddr-div h1{
        margin: 15px;
    font-size: 13px;
    }
    .home-btn{
        margin-left: 80px;
    }
   .home-hddr-div{
       height: 220px;
   }
   #img-div {
    width: 320px;
    height: 393px;
}
.home-img-div{
    margin-right: 10px;
}
.innner-div-one img{
    width: 30px;
    height: 30px;
}
#label1{
    margin-left: 13px;
    font-size: 26px;
}
.inner-div-two p{
    font-size: 12px;
    text-align: justify;
    line-height: 1.5;
}
#uni-img {
    width: 30px;
    height: 30px;
    margin: 10px;
}
.unicorn p{
    text-align: center;
}
.unicorn{
    display: flex;
    align-items: center;
    justify-content: center;
}
#paragraph-div p{
    font-size: 12px;
    margin-left: 2px;
    
}
.p1{
font-size: 12px;

}
.par-divi{
 width: 100%;   
}
#label2{
    font-size: 26px;
}
#p-btn{
    margin: 10px;
    padding: 5px 10px;
    font-size: 12px;
}
#span-button{
   margin-left: 25px;
}
.par-img-divi{
    width: 100%;
}
#rocket-img{
width: 100px;
height: 130px;
}
}
@media (min-width:361px) and (max-width:576px){
    .home-hddr-div h1{
        font-size: 20px;
    }
    .home-hddr-div{
        height: 265px;
    }
    
    #label1{
        font-size: 47px;
    }
    .inner-div-two p{
        font-size: 20px;
        text-align: center;
    }
    #paragraph-div p{
        font-size: 20px;
        text-align: justify;
    }
    #label2{
        font-size: 47px;
        margin-left: 19px;
    }
    .p1{
       font-size: 17px; 
    }
    
    .par-divi{
        width: 100%;   
       }
}
@media (min-width:577px) and (max-width:767px){
    #label2{
        font-size: 70px;
    }
    #label1{
        font-size: 70px;
    }
    .par-divi{
        width: 100%;   
       }
       #span-button{
           margin-left: 170px;
       }
       #rocket-img{
           margin:20px;
       }
}
@media (min-width:768px) and (max-width:992px){
    .home-hddr-div {
        height: 350px;
        width: 50%;
        padding: 10px;
    }
    .home-img-div{
        width: 50%;
        height: 350px;
        padding: 10px;
    }
    #img-div{
        width: 80%;
    height: 330px;
    margin-left: auto;
    }
    
}





  
