.space-div{
    background: #171822;
   
    width: 80%;
    margin: auto;
    border: 5px solid white;
    border-radius: 10px;
}
.space-main-div{
   background:  #171822;
   padding: 100px 0px;
}
.spce-p{
    color: white;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.space-hddr{
    color:#FDA32B;
    font-size: 75px;
    
}
#space-img{
    width: 70px;
    height: 70px;
    margin-left: 50px;
}
.space-inner{
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.img-space-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
#space-id{
    width: 400px;
    height: 250px;
    border: 5px solid  white;
    border-radius: 20px;
    margin: 20px 10px;
}
@media(max-width:360px){
    .space-hddr{
        font-size: 26px;
        margin: 10px;
    }
    #space-img{
        width: 30px;
        height: 30px;
        margin-left: 5px;
    }
    .spce-p{
        margin: 10px;
        font-size: 12px;
    }
    #space-id{
        height: 156px;
        width: 250px;
        border: 1px solid white;
    }
}
@media(max-width:576px){
    .space-hddr{
font-size: 47px;
    }
    #space-img{
       margin-top: 10px;
       margin-left: 2px;
    }
    .spce-p{
       margin: 10px;
       font-size: 17px;
    }

}
@media(max-width:767px){
    .ticket-div{
        padding: 20px 15px;
    }
    .space-hddr{
        font-size: 70px;
    }
    #space-img{
        margin-left: 5px;
    }
}